body {
    padding: 0;
    margin: 0;
    /*background-image: url(SignUpImages/malena-gonzalez-serena-I8JL2ztNmp0-unsplash.jpg);*/
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.Container{ 
	 width:380px;
	 height:820px;
     padding-bottom:4000%;
	 background: #101010;
	 color: #fff;
	 top: 80%;
	 left: 50%;
	 position: absolute;
	 transform: translate(-50%, -50%);
	 box-sizing: border-box;
	 padding:55px 30px;
	 font-family: Times New Roman;
}	
.B{
	width:100px;
	height:100px;
	border-radius:50%;
	position: absolute;
	top: -50px;
	left: 35%
	
}
.LoginHeader {
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
}
.Container input{
	width:100%;
	margin-bottom:20px;
}
.Container input[type="text"], input[type="password"]{
	border: none;
	border-bottom: 1px solid #fff;
	background:transparent;
	outline: none;
	height: 40px;
	color:#fff;
	font-size: 16px;
}
.Container p{
	margin:0;
	padding:0;
}
.Container input[type="Submit"]{
	border:none;
	height:40px;
	outline:none;
	color: #000;
	background:#0099ff;
	font-size:18px;
	border-radius:20px;
	
}
.Container input[type="Submit"]:hover{
	cursor:pointer;
	background:#808080;
	color:#fff;
}
.Container a{
	text-decoration:none;
	font-size:12px;
	line-height:20px;
	color:#808080;
}
.Container a:hover{
	color:#0099ff;
}